
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<title>Book of Business</title>
</head>
<body>
<div class="container">
<h1>Book of Business</h1>
<table class="table table-striped">
<thead>
<tr>
<th>Customer Name</th>
<th>Revenue</th>
<th>Bookings</th>
<th>Growth Rate</th>
</tr>
</thead>
<tbody>
{% for customer in book_of_business %}
<tr>
<td>{{ customer.customer_name }}</td>
<td>{{ customer.revenue }}</td>
<td>{{ customer.bookings }}</td>
<td>{{ customer.growth_rate }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</div>
</body>
</html>


