
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<title>Dashboard</title>
</head>
<body>
<div class="container">
<h1>Dashboard</h1>
<div class="row">
<div class="col-sm-6">
<h2>Sales Plays</h2>
<ul>
<li><a href="/sales_plays">Sales Play 1</a></li>
<li><a href="/sales_plays">Sales Play 2</a></li>
</ul>
</div>
<div class="col-sm-6">
<h2>Book of Business</h2>
<ul>
<li><a href="/book_of_business">Customer 1</a></li>
<li><a href="/book_of_business">Customer 2</a></li>
</ul>
</div>
</div>
</div>
</body>
</html>


